* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-size: 13px;
  font-family: "montserrat";
}

/* Main navigation */
.topBar {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-family: "geo";
  font-size: 6rem;
  text-align: center;
  margin-left: 20px;
}

.greentestlogo {
  color: #8ac927;
}

#dateSpan {
  align-self: center;
  font-size: larger;
  padding-right: 25px;
  font-family: 'montserrat';
}

.descriptionBar{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profilePhoto img {
  border-radius: 50%;
  height: 100px;
  padding: 10px;
}


.descriptionBar textarea{
  background-color: #f1f1f1;
  margin: 20px;
}

.collabAndAddTaskBtnBar {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.collab img {
  border-radius: 50%;
  height: 30px;
  margin: 0 10px;
}

.collab {
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.addTaskBtn {
  padding-right: 20px;
}

.addTaskBtn button:hover {
  cursor: pointer;
}


.addTaskBtn button {
  background-color: #4f82c4;
  height: 100%;
  padding: 10px;
  color: white;
  border-radius: 10%;
  font-weight: bold;
}

.cards {
  display: grid;
  grid-template-areas: "toDo inProgress Review Done";
  grid-template-columns: 25% 25% 25% 25%;
  grid-auto-rows: auto;
  padding: 25px 0;
  /* border: #8ac927 solid ; */
}

.cardTitle {
  overflow-wrap: break-word;
}

#cardsToDo {
  grid-area: toDo;
}
#cardsinProgress {
  grid-area: inProgress;
}
#cardsReview {
  grid-area: Review;
}
#cardsDone {
  grid-area: Done;
}
.Heading {
  font-size: 18px;
  margin: 0 25px;
  padding-bottom: 5px;
}


#toDoHeading {
  border-bottom: 6px solid #e6585e;
}
#inProgressHeading {
  border-bottom: 6px solid #efca3c;
}
#reviewHeading {
  border-bottom: 6px solid #4f82c4;
}
#doneHeading {
  border-bottom: 6px solid #8ac927;
}
.card1 {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 25px;
 
}

.card1 span {
  float: right;
  margin-right: 10px;
}

.card1 h3 {
  margin: 15px;
  padding-top: 20px;
}

.taskDescriptionText {
  margin: 15px;
  font-size: 14px;
  overflow-wrap: break-word;
  /* max-height: 100px;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: hidden; */
}

.dueDateText {
  padding-left: 20px;
  padding-bottom: 20px;
}

.profileCard {
  border-radius: 50%;
  height: 35px;
  margin: 15px;
}

.mobileDiv {
  display: none;
}

.addTaskBtnMobile {
  display: none;
}



/* Modal CSS */

#modalOverlay {
width: 100%;
height:100%;
z-index: 1;
position:absolute;

}

input {
width: 100%;
background-color: #f1f1f1;
margin-bottom: 15px;
font-family: 'montserrat';
padding: 5px;
height: 25px;
}

select {
width: 100%;
margin-bottom: 15px;
font-family: 'montserrat';
background-color: #f1f1f1;
padding: 5px;
}

textarea{
width: 100%;
font-family: 'montserrat';
padding: 10px;
background-color: #f1f1f1;

}

#modalBtnDel {
/* float: right; */
background-color: #e6585e;
height: 100%;
padding: 10px;
color: white;
border-radius: 10%;
font-weight: bold;
margin: 5px 5px;

/* margin-right: 15px; */
}

#modalBtnDel:hover {
  cursor: pointer;
}


#modalEditBtnSubmit{
/* float: right; */
background-color: #4f82c4;
height: 100%;
padding: 10px;
margin: 5px 5px;
color: white;
border-radius: 10%;
font-weight: bold;

}

#modalEditBtnSubmit:hover {
  cursor: pointer;
}

#modalBtn {
/* float: right; */
background-color: #4f82c4;
height: 100%;
padding: 10px;
color: white;
border-radius: 10%;
font-weight: bold;
margin-top: 20px;
}

.button-flex {
  display: flex;
  align-items: center;
  
}
#modalBtnDone {
  background-color: #8ac927;
  height: 100%;
  padding: 10px;
  margin: 5px 5px;
  color: white;
  border-radius: 10%;
  font-weight: bold;

}

#modalBtn:hover {
  cursor: pointer;
}


.modal {
display: none; 
position: absolute; /* Stay in place */
z-index: 2; /* Sit on top */
left: 50%;
top: 30%;
margin-left: -215px;
margin-top: -150px;
width: 430px;
height: max-content; 
background-color: white; 
padding: 20px;

}



/* The Close Button */
.close {
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: black;
text-decoration: none;
cursor: pointer;
}

#errorMsg {
color: #e6585e;
width: 80%;
}


/* media queries tablet */
@media only screen and (min-width: 501px) and (max-width: 900px) {
  
  .cards {
      display: grid;
      grid-template-areas: "toDo inProgress" 
                              "Review Done";
      grid-template-columns: 50% 50%;
      grid-auto-rows: auto;
      padding: 25px 0;
      /* border: #8ac927 solid ; */
      
    }
  #cardsToDo {
      grid-area: toDo;
      margin-bottom: 30px;
     
  }
  #cardsinProgress {
      grid-area: inProgress;
      margin-bottom: 30px;
  }
  #cardsReview {
      grid-area: Review;
      margin-bottom: 30px;
  }
  #cardsDone {
      grid-area: Done;
      margin-bottom: 30px;
  }

  
}
/* Media queries phone */
@media only screen and (min-width: 300px) and (max-width: 500px) {
  
  .cards {
      display: grid;
      grid-template-areas: "toDo" 
                              "inProgress" 
                              "Review"
                              "Done";
      grid-template-columns: 100%;
      grid-auto-rows: auto;
      padding: 25px 0;
      /* border: #8ac927 solid ; */
    }
  #cardsToDo {
      grid-area: toDo;
      margin-bottom: 30px;
  }
  #cardsinProgress {
      grid-area: inProgress;
      margin-bottom: 30px;
  }
  #cardsReview {
      grid-area: Review;
      margin-bottom: 30px;
  }
  #cardsDone {
      grid-area: Done;
      margin-bottom: 30px;
  }

  .profilePhoto {
      display: none;
  }

  .addTaskBtn {
      display: none;
  }
  #dateSpan {
      display:none;
  }
  .mobileDiv {
      display: contents;
      display: flex;
      justify-content: center;
  }
  .addTaskBtnMobile {
      display: contents;
   
  }

  .addTaskBtnMobile button {
      background-color: #4f82c4;
      height: 100%;
      padding: 10px;
      color: white;
      border-radius: 10%;
      position: relative;
      right: 20px;
      top: 20px;
      font-weight: bold;
  }

  .modal  {
    display: none; 
position: absolute; /* Stay in place */
z-index: 2; /* Sit on top */
left: 50%;
top: 30%;
margin-left: -175px;
margin-top: -175px;
width: 350px;
height: max-content; 
background-color: white; 
padding: 20px;
  }
  
}