/* Jonnevie's Section */

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
    font-family: 'montserrat';
}

/* Main navigation */
.logo {
    font-family: 'geo';
    font-size: 5rem;
    text-align: center;
}

.nav-item {
    list-style-type: none;
}

.nav-item img{
    padding-right: 20px;    
}
.nav-item a{
    padding-left: 20px;
    text-decoration: none;
    font-family: 'montserrat';
    font-size: 1.5rem;
    padding: 20px;

}
.greentestlogo {
    color: #8ac927;
}
.projectdescriptiontext {
    margin-left: 50px;
}

.mainprofileimage {
    border-radius: 50%;
    height: 100px;
    margin-top: 80px;


}
.projectheading img{
    padding-right: 20px;
}
.h2 {
    font-family: 'montserrat';
}

 h3{
    padding: 20px;
    color: #4f82c4;
}
.collaborators {
    border-radius: 50%;
    height: 40px;
    box-sizing: content-box;
    padding: 10px;
}
.collabtext {
    padding-left: 50px;

}

/* title section */


.toDo {
    border-bottom: 6px solid #e6585e;
    margin: 15px;
    
}
.toDo h2, .inProgress h2, .review h2, .done h2 {
    font-weight: bold;
    font-size: 1.2rem;
}

.inProgress {
    border-bottom: 6px #efca3c solid;
    margin: 15px;
}

.review {
    border-bottom: 6px #4f82c4 solid;
    margin: 15px;
}

.done {
    border-bottom: 6px #8ac927 solid;
    margin: 15px;
}


/* Cards section */


.cardsToDo1{

    display: grid;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    grid-template-areas:"cardsTitle"
                        "cardsDescription"
                        "edits"
                        "dueDate";

    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    margin-bottom: 20px;

}

.cardsTitle {
    grid-area: 'cardsTitle';
    padding-top: 20px;
    padding-left: 15px;
    font-family: 'montserrat';
    
}

.cardsTitle h2 {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 10px;
}

.cardsTitle img {
   float: right;
   position: relative;
}

.cardsDescription {
    grid-area: 'cardsDescription';
    padding: 15px 25px;
}

.edits {
    grid-area: 'edits';
    justify-self: end;
}

.edits img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right:20px;
}
.dueDate {
    grid-area: 'dueDate';
    padding-left: 15px;
}

.dueDate p{
    font-weight: bold;
}

.dueDate span {
    font-weight: lighter;
}

/* end Jonnevie's Section */

/* S I D E B A R */

#side_nav {
    background: black;
    min-width: 250px;
    max-width: 250px;
}

.content {
    min-height: 100rem;
    width: 100%;

}